html {
	width: 100%;
	height: 100%;

	background-color: black;
	cursor: url(""), auto;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

textzone {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	height: 95%;
}

body p {
	text-align: center;
	color: white;
}

button {
	overflow: hidden;
}

header {
	height: 100%;
	width: 100%;
}

.mainHeader {
	background-color: grey;
	display: flex;
	height: 5%;
	min-height: 65px;

	border-bottom: solid 4px rgba(255, 255, 255, 0.473);

	flex-direction: row;
	align-content: center;
	justify-content: space-evenly;
}

.mainHeader>button {
	margin-bottom: .4%;
	margin-top: .4%;
}

a {
	color: white;
	transition: 0.5s;
}

a:hover {
	color: rgb(255, 0, 0);
}